/*全局*/
.data_list{
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 0px;

}
/* 文章主标题 */
.col-md-9 .data_list .data_list_title{
	font-size: 24px;
	font-weight: bold;
	/*border-bottom: 1px solid #393939;*/
	padding-bottom: 10px;
	padding-top: 5px;
}
.col-md-9 .data_list .data_list_title img{
	margin-top: 1px;
	vertical-align: center;
	padding-left: 15px;
}
/*左侧博客*/

/*左侧博客*/
.col-md-9 .data_list .datas ul {
    list-style-type: none;
    padding-left: 15px;
}
.col-md-9 .data_list .datas ul li {
    background-color: #fff;
    position: relative;
    width: 100%;
    margin: 0 0 15px;
    padding: 10px 2px 20px 20px;
    border-bottom: 1px solid #f0f0f0;
    word-wrap: break-word;
}
/*d单个文章书写*/

/*文本段落*/
.col-md-9 .data_list .datas ul li p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top:10px;
}
/*图片放右侧*/
.col-md-9 .data_list .datas ul li img{
    position: absolute;
    top: 50%;
    margin-top: -55px;
    right: 10px;
    width: 125px;
    height: 100px;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    display: inline-block;
}
.col-md-9 .data_list .datas ul li .wrap-img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
}

/*文章标题*/
.col-md-9 .data_list .datas ul li .title{
    margin-top: 2px;
    display: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}
/*正文部分*/
.col-md-9 .data_list .datas ul li .abstract{
    margin: 10 0 8px;
    font-size: 13px;
    line-height: 24px;
    color: #999;
    padding-right: 150px;
}
.col-md-9 .data_list .datas ul li .content .meta{
    padding-right: 0!important;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.col-md-9 .data_list .datas ul li .content .meta a{
  display:inline-block;
  margin-right:20px;
}
.col-md-9 nav{
	padding-left: 20px;
}
/* 文章结束 */
/*右侧开始*/
.datas .info{/*用户信息*/
	display:block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 18px;
	float: right;
	font-size: 12px;
}
.data_list .user_image{
	text-align: center;
}
.data_list .user_image img{
	padding-top:10px;
	/*width: 200px;
	height: 250px;*/
}
.data_list .nickName , .data_list .userSign{
	text-align: center;
	vertical-align: center;
}
/*用户信息*/
/*col-3侧边css*/
.col-md-3 .data_list .datas{

}
.col-md-3 .data_list .datas ul{
	list-style-type: none;

}
/* 大类标题 */
.col-md-3 .data_list .data_list_title{
	color: black;
	font-size: 20px;
	padding-bottom: 10px;
}
.col-md-3 .data_list .datas li{
	padding-bottom: 10px;
	padding-left: 20px;
	color: rgb(108,108,108);

}
.col-md-3 .data_list .datas li a{
	text-decoration: none;
}
.col-md-3 .data_list .datas li:hover{
    background-color: #009688;
}

/*col-3侧边css*/
/* 上一页  下一页  分享css  关键词*/
.data_list .blog_share{
	padding-left: 330px;
	padding-bottom: 20px;
	padding-top: 10px
}

.data_list .blog_keyWord{
	margin-top:20px;
	padding-bottom: 30px;
	padding-left: 30px;
}

.data_list .blog_keyWord a{

	/*font-style: italic;*/
}

.data_list .blog_lastAndNextPage{
	border-top:1px dotted black;
	padding: 10px;
}




/*评论的css*/
.data_list .commentDatas{
	padding: 10px;
}

.data_list .commentDatas .comment{
	margin-top:10px;
	margin-bottom: 5px;
	padding-bottom:15px;
	border-bottom: 1px dotted gray;
}

.data_list .commentDatas .comment font,.otherComment font{
	font-weight: bold;
}



.data_list .commentDatas .otherComment{
	margin-top:10px;
	margin-bottom: 5px;
	padding-bottom:15px;
	border-bottom: 1px dotted gray;
	display: none;
}





/*评论*/

.data_list .publish_comment{
	padding-top: 10px;
	padding-bottom: 50px;
}

.data_list .publish_comment .publishButton{
	padding-top:10px;
	float: right;
}


.data_list .verCode{
	padding-top:10px;
	padding-left:10px;
	float: left;
}

