.about-content{
    padding: 20px;
    margin:0 auto;
}
/*
个人信息介绍*/
.item-info .title h3{
    color: #fff;
    font-size: 30px;
    margin-left: 100px;

}

.item-info .cont img{
	display: inline-block;
    width: 500px;
    margin-top: -90px;
}
.item-info .cont .per-info{
	margin-top: 30px;
    padding-left: 100px;
    display: inline-block;
}
.item-info .cont .per-info span{

    line-height: 50px;
    font-size: 24px;
    font-family: STKaiti;
    color: #fff;
}
.item-info .cont .per-info p{
		padding-top: 40px;
}


